main {
    height: 90vh;
    width: 80vw;
    margin: 5vh 1vh;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.15);
    -moz-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.15);
    box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.15);
    justify-content: center;
}

h1{
    text-align: center;
    color: #000033;
}
.exitBtn{
    width: 50px;
    text-align: center;
    margin: 5px;
    cursor: pointer;

}
.chatHeader{
    display: flex;
}

/* .exitBtn{
    color: red;
    width: 50px;
    text-align: center;
    margin: 5px;
    border-radius: 25px;
    border: 1px solid;
} */
