main {
    height: 90vh;
    width: 80vw;
    margin: 5vh 1vh;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.15);
    -moz-box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.15);
    box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.15);
    justify-content: center;
}
h1{
    color: #000033;
    text-align: center;
    font-family: 'Quantico', sans-serif;
}

.exitBtn{
    width: 40px;
    text-align: center;
    margin: 5px;
    cursor: pointer;
     -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
     -o-transform: rotate(180deg); 
    transform: rotate(180deg);
}
.chatHeader{
    display: flex;
    justify-content: space-between;
}
