.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 100;
}

.overlay {
    background: rgba(49,49,49,0.8);
    backdrop-filter: blur(2px);
    margin-top: 0;
}
.modalContent {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.2;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 10px;
    max-width: 600px;
    min-width: 300px;
    z-index: 100;
}
.hidden{
    opacity: 0;
}
p{
    color: red;
}

.modalContent input{
    width: 250px;
    line-height: 39px;
    margin-right: 5px;
    border: 1px solid black;
    /* border-radius: 5px; */

}