ul{
    list-style: none;
    padding-left: 10px;
}
ul button {
    background: none;
	border: none;
	padding: 0;
    cursor: pointer;
}
nav div{
    margin-top: 10px;
}
nav {
    margin: 0 auto;
}
.hidden{
    display: none;
}
.userWelcome{
    color: white;
}